li { margin: 0.7em 0; }

section { padding: 1em 0; }

h2 {
    color: #555555;
    line-height: 28px;
    padding-left: 36px;
    background: transparent url(../img/sprite.png) no-repeat 0 0;
}

#python h2 { background-position: 0 0; }
#javascript h2 { background-position: 0px -28px; }
#security h2 { background-position: 0px -56px; }
#visualization h2 { background-position: 0px -84px; }
#html h2 { background-position: 0px -112px; }
#css h2 { background-position: 0px -140px; }
#middleware h2 { background-position: 0px -168px; }
#opensource h2 { background-position: 0px -196px; }
#courses-and-talks h2 { background-position: 0px -224px; }
#conferences h2 { background-position: 0px -252px; }
#experience h2 { background-position: 0px -280px; }
#education h2 { background-position: 0px -308px; }
#opensource-projects h2 { background-position: 0px -336px; }
#tools h2 { background-position: 0px -364px; }
#hobbies h2 { background-position: 0px -392px; }
#identity h2 { background-position: 0px -420px; }
#websites h2 { background-position: 0px -448px; }
#public-ssh-key h2 { background-position: 0px -476px; }
#credits h2 { background-position: 0px -504px; }

footer { color: #ffffff; background: #555555; }

footer h2, footer a { color: #ffffff; }
footer a:visited { color: #cccccc; }
