body, div, img, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt, blockquote, fieldset, legend, label, input, textarea {
    margin: 0; padding: 0; border: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    overflow-x: visible;
    white-space: nowrap;
    font-family: 'Ubuntu', sans-serif;
}

p {
    margin: 1em 0 1em 0;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

a {
    color: #0074D9;
}

a:hover {
    color: #001f3f;
}

h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: .8em;
    font-weight: normal;
}

.main-container {
    height: 100%;
    width: 100%;
    background: url(lgs.jpg) no-repeat fixed;
    background-position: center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: auto;
}

main {
    position: relative;
    z-index: 999 !important;
    background: none;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 1em;
    color: #333;
    margin-top: 8%;
}

.bio {
    width: 50%;
    color: #222;
}

.footer {
    display: none;
}

@media only screen and (max-width: 767px) and (orientation:landscape) {
    main {
        margin-top: 2em;
    }

    .bio {
        width: 55%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
    .main-container {
        background-image: url(lgs-small.jpg);
    }

    h1 {
        font-size: 2em;
        margin-bottom: .5em;
    }

    h2 {
        font-size: 1.4em;
        margin-bottom: .8em;
        font-weight: normal;
    }

    p {
        line-height: 1.4;
    }

    .bio {
        width: 50%;
    }

    main {
        margin-top: 12%;
        padding-left: 3em;
    }
}

@media only screen and (min-width: 361px) and (max-width: 1200px) and (orientation:portrait) {

    .main-container {
        background: none;
    }

    main {
        margin-top: 3em;
        padding-left: 3em;
        padding-right: 3em;
        font-size: 1.2em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
        white-space: normal;
    }

    .bio {
        width: 100%;
    }

    .footer {
        display: block;
        width: 100%;
        height: 100%;
        background: url(lgs-tiny.jpg) no-repeat fixed;
        background-position: center bottom;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: auto;
    }

}

@media only screen and (min-width: 0px) and (max-width: 360px) {

    .main-container {
        background: none;
    }

    main {
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size: 0.9em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
        white-space: normal;
    }

    .bio {
        width: 100%;
    }

    .footer {
        display: block;
        width: 100%;
        height: 100%;
        background: url(lgs-tiny.jpg) no-repeat fixed;
        background-position: center bottom;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: auto;
    }
}
